In [1]:
import pandas as pd
import numpy as np

In [26]:
train_df = pd.read_excel('./t-SNE/train.xlsx',columns=False)
test_df = pd.read_excel('./t-SNE/test.xlsx',columns=False)

In [27]:
train_df.head()

   Unnamed: 0        pc1        pc2  label
0           0  23.472496 -81.151192      3
1           1  30.302988 -63.716808      3
2           2  22.775911 -82.803665      3
3           3  21.300585 -69.919121      3
4           4  27.885862 -75.104927      3

In [42]:
train_df=train_df[train_df['label']!=0]
train_df=train_df[train_df['label']!=1]

In [55]:
train_df.head()

   Unnamed: 0        pc1        pc2  label
0           0  23.472496 -81.151192      3
1           1  30.302988 -63.716808      3
2           2  22.775911 -82.803665      3
3           3  21.300585 -69.919121      3
4           4  27.885862 -75.104927      3

In [44]:
test_df.head()

   Unnamed: 0        pc1       pc2  label
0           0 -65.360397 -0.106535      3
1           1 -54.449055  5.869709      3
2           2 -47.608463 -3.160110      3
3           3 -57.310947  6.429716      3
4           4 -65.573662  1.207043      3

In [45]:
test_df=test_df[test_df['label']!=0]
test_df=test_df[test_df['label']!=1]

In [46]:
X_train=np.array(train_df.loc[:,'pc1':'pc2'])
X_test=np.array(test_df.loc[:,'pc1':'pc2'])

y_train=np.array(train_df.loc[:,'label'])
y_test=np.array(test_df.loc[:,'label'])

In [49]:
le = LabelEncoder()
y_train = le.fit_transform(y_train)

In [51]:
y_test=le.fit_transform(y_test)

In [36]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [13]:
tree= DecisionTreeClassifier(criterion='entropy',max_depth=1,random_state=0)

In [15]:
ada=AdaBoostClassifier(base_estimator=tree,n_estimators=50,learning_rate=0.1,random_state=0)

In [53]:
ada=ada.fit(X_train,y_train)
y_train_pred=ada.predict(X_train)
y_test_pred=ada.predict(X_test)

ada_train=accuracy_score(y_train,y_train_pred)
ada_test=accuracy_score(y_test,y_test_pred)

In [54]:
print('AdaBoost train/test accuracies %.3f/%.3f'
      % (ada_train, ada_test))

AdaBoost train/test accuracies 0.904/0.832